<div class="jumbotron">
<h1>欢迎来到这里</h1>
<p>这是一个简单的出货系统，首先你在产品清单里面录入你的产品，然后点击出货单，在那里你可以快速地完成出货记录和计算，如果有什么问题，请在留言那里提出，我将会很快地回复你的</p>
</div>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>item/产品清单</h3>
        <p>请录入你的产品</p>
        <p><%= link_to 'item/产品清单', items_path, class:"btn btn-primary" %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>bill table/账单</h3>
        <p>账单管理</p>
        <p><%= link_to 'bill table/账单', bill_tables_path, class:"btn btn-primary" %></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>blog/留言</h3>
        <p>留意请进，我会尽快回复</p>
        <p><%= link_to 'blog/留言', posts_path, class:"btn btn-primary" %></p>
      </div>
    </div>
  </div>
</div>